<%- macro gen_namespace_name(module, mod_ver, ind=-1) -%>
<= module | name(ind) =>_<= mod_ver.major =>_<= mod_ver.minor =>
<%- endmacro %>

<% macro type(obj) -%>
<% if obj.ix3 %><=ix3_type(obj.ix3)=><% else -%>
<%if obj.cpp is defined %><= obj.cpp =><% if obj.subs[0] is defined %><<% for st in obj.subs %><= type(st) =><= ", " if not loop.last =><% endfor %>><% endif %>
<%-else-%><=obj|name=><%endif%>
<%-endif%>
<%- endmacro %>

<% macro ix3_type(obj) -%>
<= gen_namespace_name(obj.mod, obj.mod_ver) =>::<= obj|name =>
<=- "_ptr" if obj.type!="enum"=>
<%- endmacro %>

<%- macro function_decl(obj) -%>
<= "static " if obj.static =><=- type(obj.return) => <= obj|name =>(<= fparam(obj.params) =>)<= " const" if obj.mutable == False =>
<%- endmacro %>

<%- macro fparam(params) -%>
<% for param in params %><= "std::optional<" if not param.req =>
<=- type(param.param_t) =><=">" if not param.req=> <= param|name =><= ", " if not loop.last =><% endfor %>
<%- endmacro %>

<%- macro decl_depricated(obj) -%>
<%- if obj.meta and obj.meta.depricated %>[[deprecated<% if obj.meta.depricated.msg != '' %>("<= obj.meta.depricated.msg =>")<% endif %>]] <% endif %>
<%- endmacro %>

<%- macro decl_meta_params(obj) -%>
<%- if obj.meta and obj.meta.doc -%>///  <= obj.meta.doc =>
<% endif -%>
<%- endmacro %>

<%- macro include_one(info) -%>
#include <= '<' if info.sys else '"' =><= info.file =><= '>' if info.sys else '"' =>
<%- endmacro -%>
<%- macro includes(incs) -%>
<% for info in incs.items() | select_keys(["cpp", "self", "ix3"]) | unique %>
<= include_one(info) =>
<%- endfor -%>
<%- endmacro -%>

<%- macro ptr(obj) -%><= obj | apply_sufix('ptr') =><% endmacro -%>

<%- macro constructor_name(cns, obj, cdata) -%><= cdata.ctor_prefix =><= obj.name =><% endmacro -%>

<% macro enum(obj, module, cdata) -%>
<% endmacro -%>
