cmake_minimum_required(VERSION 3.12 FATAL_ERROR)
project(<= cdata.project => VERSION <= cdata.version => LANGUAGES C CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

<% for item, value in cdata.libraries.items() %>
add_library("<= item =>" STATIC
<% for file in value.files %>	<= file =>
<% endfor -%>
)
<% endfor %>

