<% set sd = cdata.data.builders -%>
cmake_minimum_required(VERSION 3.19 FATAL_ERROR)
project(<= sd.project => VERSION <= sd.version => LANGUAGES C CXX)

set(CMAKE_CXX_STANDARD 20)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

find_package(PythonLibs REQUIRED)
<%- for im in sd.imports %>
find_package(<= im => REQUIRED)
<%endfor%>

<%- for item, value in sd.libraries.items() %>
add_library("<= item =>" INTERFACE)
target_sources("<= item =>" INTERFACE
<% for file in value.files %>	<= file =>
<% endfor %>)
set_source_files_properties(
	<% for file in value.files if '.cpp' in file %><=file=> <%endfor%>
	PROPERTIES COMPILE_OPTIONS "-Wno-deprecated-declarations")
<% if value.deps %>target_link_libraries("<= item =>" INTERFACE <% for dep in value.deps %> <= dep =><% endfor %>) <% endif %>
target_include_directories("<= item =>" INTERFACE "${CMAKE_CURRENT_LIST_DIR}" "${PYTHON_INCLUDE_DIRS}")
set_target_properties("<= item =>" PROPERTIES POSITION_INDEPENDENT_CODE TRUE)
<% endfor %>

